<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this exhibition from being saved:</h2>

      <ul class="errors">
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="lbl"><%= f.label :name %></p>
  <p class="input"><%= f.text_field :name, :class => 'input-xlarge' %></p>

  <p class="lbl"><%= f.label :url %></p>
  <p class="input"><%= f.url_field :url, :class => 'input-xxlarge' %></p>

  <p class="lbl"><%= f.label :type %></p>
  <p class="input"><%= f.collection_select :type, Feed.types, :first, :second, prompt: true  %></p>

<% end %>
