<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Feed: <%=@feed.name%></h1>

      <h2>URL</h2>
      <h3><a href='<%= @feed.url %>' target='_blank'><%= @feed.url %></a></h3>

      <h2>Type</h2>
      <h3><%= Feed.types[@feed.feed_type] %></h3>

      <p><%= link_to raw('&laquo; Back'), feeds_path, :class => 'btn btn-mini' %> <%= link_to 'Edit', edit_feed_path(@feed), :class => 'btn btn-mini' %> </p>
    </div>
  </div>
</div>
