
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <h1>Schedule for Museum Hours</h1>

      <p>Note: If schedules overlap the shorter schedule will be displayed</p>

      <table class="table table-striped table-bordered table-hours">
        <thead>
          <tr>
            <th >Schedule Period</th>
            <th >Sunday Hours</th>
            <th >Monday Hours</th>
            <th >Tuesday Hours</th>
            <th >Wednesday Hours</th>
            <th >Thursday Hours</th>
            <th >Friday Hours</th>
            <th >Saturday Hours</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% if @hours.size > 0 %>
          <% @hours.each_with_index do |hour, index| %>
            <tr data-id="<%= hour.id %>">
              <td><%= hour.start_schedule.strftime("%F") %> to <%= hour.end_schedule.strftime("%F") %></td>
              <% for i in 1..7 do %>
                <td><%= hour.print_dow(i) %></td>
              <% end %>
              <td class="actions"><%= link_to 'Show', hour, :class => 'btn btn-mini btn-info' %> <%= link_to 'Edit', edit_hour_path(hour), :class => 'btn btn-mini' %><%= link_to 'Delete', hour, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
            </tr>
          <% end %>
          <% else %>
            <tr>
              <td class="empty" colspan="4"><strong>No hours have been added yet.</strong></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <hr>

      <p><%= link_to 'New Schedule', new_hour_path, :class => 'btn btn-success' %></p>
    </div>
  </div>
</div>
