<%= form_for([@exhibition, @artist]) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul class="errors">
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="lbl"><%= f.label :first_name %></p>
  <p class="input"><%= f.text_field :first_name, :class => 'input-xlarge' %></p>

  <p class="lbl"><%= f.label :last_name %></p>
  <p class="input"><%= f.text_field :last_name, :class => 'input-xlarge' %></p>

  <p class="lbl"><%= f.label :country %></p>
  <p class="input"><%= f.collection_select :country, Carmen::World.instance.subregions, :code, :name, :selected => @artist.country, :prompt => 'Please select a country:' %></p>

  <p class="lbl"><%= f.label :code %></p>
  <p class="input"><%= f.text_field :code, :class => 'input-xlarge' %></p>

  <p class="lbl"><%= f.label :bio %></p>
  <p class="input"><%= f.text_area :bio, :class => 'input-xxlarge', :rows => 5 %></p>

  <p class="submit"><%= f.submit(:class => 'btn btn-primary') %></p>
<% end %>
