<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>My Profile</h1>

      <%= form_for(@admin, :url => save_profile_admin_path) do |f| %>
        <% if @admin.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this beacon from being saved:</h2>

            <ul class="errors">
            <% @admin.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <p class="lbl"><%= f.label :password %></p>
        <p class="input"><%= f.password_field :password, :class => 'input-xlarge' %></p>

        <p class="lbl"><%= f.label :password_confirmation %></p>
        <p class="input"><%= f.password_field :password_confirmation, :class => 'input-xlarge' %></p>


        <p class="submit"><%= f.submit('Change Password', :class => 'btn btn-primary') %></p>
      <% end %>

      <hr>

      <p><%= link_to raw('&laquo; Back'), admins_path, :class => 'btn btn-mini' %></p>
    </div>
  </div>
</div>
