<%= form_for(@exhibition) do |f| %>
  <% if @exhibition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhibition.errors.count, "error") %> prohibited this exhibition from being saved:</h2>

      <ul class="errors">
      <% @exhibition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="lbl"><%= f.label :title %></p>
  <p class="input"><%= f.text_field :title, :class => 'input-xlarge' %></p>

  <p class="lbl"><%= f.label :subtitle %></p>
  <p class="input"><%= f.text_field :subtitle, :class => 'input-xlarge' %></p>

  <p class="lbl"><%= f.label :sponsor, 'Sponsor Message' %></p>
  <p class="input"><%= f.text_field :sponsor, :class => 'input-xxlarge' %></p>

  <p><%= f.file_field :bg_iphone, :title => raw('Select an iPhone background to upload <strong>(640x1136)</strong>'), :class => 'btn-mini btn-success' %></p>

  <p><%= f.file_field :bg_ipad, :title => raw('Select an iPad background to upload <strong>(1406x1408)</strong>'), :class => 'btn-mini btn-success' %></p>

  <div class="row-fluid dash">
    <div class='span4'>
      <div class='image-info'>
        <h3>iPhone</h3>
      </div>
      <div id="iphone" class='exhibition_image'></div>
    </div>
    <div class='span8'>
      <div class='image-info'>
        <h3>iPad</h3>
                    <p><button id='show_overlay' data-visible='false' class="btn btn-default">Show Left Menu Image Location</button></p>
      </div>
      <div id="ipad" class='exhibition_image'>
        <%= image_tag(image_url("highlight.png"), :class=>"image-overlay", :style=>"display:none;") %>
      </div>
    </div>
  </div>

  <p class="input-chk"><%= f.check_box :is_live %> <%= f.label :is_live, 'Live exhibition? (Uncheck for draft mode)', :class => 'inline' %></p>

  <p class="submit"><%= f.submit(:class => 'btn btn-primary') %></p>
<% end %>

<% content_for :js_files do %>
  <%= javascript_include_tag "image-preview" %>
<% end %>

<% content_for :js do %>

  var $ipad = $("#ipad").imagePreview("#exhibition_bg_ipad");
  $ipad.addClass("image-underlay");

  var $iphone = $("#ipad").imagePreview("#exhibition_bg_iphone");
  $iphone.addClass("image-underlay");

  $('#show_overlay').click(function(){
    var show = $('#show_overlay').attr('data-visible');
    if(show == 'false')
    {
      $('#show_overlay').attr('data-visible', 'true');
      $('#show_overlay').text("Hide Left Menu Image Location");
      $('.image-overlay').show();
    }
    else
    {
      $('#show_overlay').attr('data-visible', 'false');
      $('#show_overlay').text("Show Left Menu Image Location");
      $('.image-overlay').hide();
    }
  });
<% end %>
