<%= form_for(@exhibition) do |f| %>
  <% if @exhibition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhibition.errors.count, "error") %> prohibited this exhibition from being saved:</h2>

      <ul class="errors">
      <% @exhibition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="lbl"><%= f.label :title %></p>
  <p class="input"><%= f.text_field :title, :class => 'input-xlarge' %></p>

  <p class="lbl"><%= f.label :subtitle %></p>
  <p class="input"><%= f.text_field :subtitle, :class => 'input-xlarge' %></p>

  <p class="lbl"><%= f.label :sponsor, 'Sponsor Message' %></p>
  <p class="input"><%= f.text_field :sponsor, :class => 'input-xxlarge' %></p>

  <p><%= f.file_field :bg_iphone, :title => raw('Select an iPhone background to upload <strong>(640x1136)</strong>'), :class => 'btn-mini btn-success' %></p>

  <p><%= f.file_field :bg_ipad, :title => raw('Select an iPad background to upload <strong>(1406x1408)</strong>'), :class => 'btn-mini btn-success' %></p>

  <p class="input-chk"><%= f.check_box :is_live %> <%= f.label :is_live, 'Live exhibition? (Uncheck for draft mode)', :class => 'inline' %></p>

  <p class="submit"><%= f.submit(:class => 'btn btn-primary') %></p>
<% end %>
