<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Categories</h1>

      <table class="table table-striped table-bordered table-categories">
        <thead>
          <tr>
            <th class="title">Title</th>
            <% if exhibition_is_set %>
            <th class="artwork"># of Artwork</th>
            <% end %>
            <th class="actions"></th>
          </tr>
        </thead>

        <tbody>
          <% if @categories.size > 0 %>
          <% @categories.each do |category| %>
            <tr>
              <td class="title"><%= category.title %></td>
              <% if exhibition_is_set %>
              <td class="artwork"><%= category.artworks.size %> <%= link_to('Show', exhibition_artworks_path(@exhibition, :filter_category => category.id), :class => 'btn btn-mini btn-info') %></td>
              <% end %>
              <td class="actions"><%= link_to 'Show', [@exhibition, category], :class => 'btn btn-mini btn-info' %> <%= link_to 'Edit', edit_exhibition_category_path(@exhibition, category), :class => 'btn btn-mini' %> <%= link_to 'Delete', [@exhibition, category], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
            </tr>
          <% end %>
          <% else %>
            <tr>
              <td class="empty" colspan="2"><strong>No categories have been added yet.</strong></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <hr>

      <p><%= link_to 'New Category', new_exhibition_category_path(@exhibition), :class => 'btn btn-success' %></p>
    </div>
  </div>
</div>
