<%= form_for([@exhibition, @location]) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul class="errors">
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="lbl"><%= f.label :name %></p>
  <p class="input"><%= f.text_field :name, :class => 'input-xlarge' %></p>

  <p class="lbl"><%= f.label :beacon_id %></p>
  <p class="input"><%= f.collection_select :beacon_id, Beacon.unassigned(@location.beacon).order('name asc'), :id, :name, :selected => params[:beacon_id], :include_blank => '-- No Beacon --' %></p>

  <p class="submit"><%= f.submit(:class => 'btn btn-primary') %></p>
<% end %>
