<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Locations</h1>

      <table class="table table-striped table-bordered table-locations">
        <thead>
          <tr>
            <th class="name">Name</th>
            <th class="artwork"># of Artwork</th>
            <th class="actions"></th>
          </tr>
        </thead>

        <tbody>
          <% if @locations.size > 0 %>
          <% @locations.each do |location| %>
            <tr>
              <td class="name"><%= location.name %></td>
              <% if exhibition_is_set %>
              <td class="artwork"><%= location.artworks.exhibition_artworks(@exhibition).size %> <%= link_to('Show', exhibition_artworks_path(@exhibition, :filter_location => location.id), :class => 'btn btn-mini btn-info') %></td>
              <% else %>
              <td class="artwork"><%= location.artworks.size %> </td>
              <% end %>
              <td class="actions"><%= link_to 'Show', [location], :class => 'btn btn-mini btn-info' %> <%= link_to 'Edit', edit_location_path(location), :class => 'btn btn-mini' %> <%= link_to 'Delete', [location], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
            </tr>
          <% end %>
          <% else %>
            <tr>
              <td class="empty" colspan="4"><strong>No locations have been added yet.</strong></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <hr>

      <p><%= link_to 'New Location', new_location_path, :class => 'btn btn-success' %></p>
    </div>
  </div>
</div>
