<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CMOA + CMNH for iOS</title>
  <%= stylesheet_link_tag "main", :media => "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Header -->
  <header>
    <h1><a href="/"></a></h1>
    <% if admin_signed_in? %>
    <nav class='topbar'>
      <ul >
        <li class="profile"><a href="<%= url_for(profile_admin_path) %>" data-gravity="e"><%=icon('user', :class => 'fa-fw')%><br>Me</a></li>
        <li class="logout"><a href="<%= url_for(destroy_admin_session_path) %>" data-method="delete" data-gravity="e"><%=icon('sign-out', :class => 'fa-fw')%><br>Logout</a></li>
      </ul>
    </nav>
    <% end %>
  </header>

  <!-- Nav -->
  <nav class="<%=get_focus %>">
    <ul>
      <% if admin_signed_in? %>
      <li class="home no-text"><a href="<%= url_for(root_path) %>" data-gravity="w">Home</a></li>
      <li class="admins"><a href="<%= url_for(admins_path) %>" data-gravity="w"><%=icon('users', :class => 'fa-fw')%> Admins</a></li>
      <li class="beacons"><a href="<%= url_for(beacons_path) %>" data-gravity="w"><%=icon('bluetooth-b', :class => 'fa-fw')%> Beacons</a></li>
      <li class="categories"><a href="<%= url_for(categories_path) %>" data-gravity="w"><%=icon('tags', :class => 'fa-fw')%> Categories</a></li>
      <li class="exhibitions"><a href="<%= url_for(exhibitions_path) %>" data-gravity="w"><%=icon('calendar', :class => 'fa-fw')%> Exhibitions</a></li>
        <% if exhibition_is_set %>
          <li class="sub objects"><a href="<%= url_for(exhibition_artworks_path(@exhibition)) %>" data-gravity="w"><%=icon('diamond', :class => 'fa-fw')%> Objects</a></li>
          <li class="sub people"><a href="<%= url_for(exhibition_artists_path(@exhibition)) %>" data-gravity="w"><%=icon('user', :class => 'fa-fw')%> People</a></li>
          <li class="sub tours"><a href="<%= url_for(exhibition_tours_path(@exhibition)) %>" data-gravity="w"><%=icon('map-signs', :class => 'fa-fw')%> Tours</a></li>
        <% end %>
      <li class="feeds"><a href="<%= url_for(feeds_path) %>" data-gravity="w"><%=icon('rss', :class => 'fa-fw')%> Feeds</a></li>
      <li class="hours"><a href="<%= url_for(hours_path) %>" data-gravity="w"><%=icon('clock-o', :class => 'fa-fw')%> Hours</a></li>
      <li class="locations"><a href="<%= url_for(locations_path) %>" data-gravity="w"><%=icon('map-marker', :class => 'fa-fw')%> Locations</a></li>
      <% end %>
    </ul>
  </nav>

  <!-- Content -->
  <div id="content">
    <% if !notice.nil? || !alert.nil? %>
    <!-- Flash -->
    <div class="container-fluid flash">
      <div class="row-fluid">
        <div class="span12">
          <% unless notice.nil? %>
          <p class="flash-notice"><%= notice %></p>
          <% end %>
          <% unless alert.nil? %>
          <p class="flash-alert"><%= alert %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>

    <%= yield %>
  </div>

  <!-- JS -->
  <%= yield(:js_files_before) %>
  <%= javascript_include_tag('application', "data-turbolinks-track" => true) %>
  <%= yield(:js_files) %>
  <script type="text/javascript">
    $(document).ready(function (e) {
      app.init();
      <%= yield(:js) %>
    });
  </script>
</body>
</html>
